<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional theme -->
<link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap" rel="stylesheet">
</head>
<body>
	<div style="background:url('https://images.unsplash.com/photo-1560177112-fbfd5fde9566?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center" class="jumbotron">
		<span class="display-4" style="font-family: 'Uncial Antiqua', cursive;background-color:white"> NOVOSTI</span>
	</div>


	<div class="container">
	{% for new, des, i,pub in mylist %}
			<img src="{{ i }}" alt="">
			<h1>News:</h1> {{ new }}
			{{ value|linebreaks }}

			<h4>Description:</h4>{{ des }}
			{{ value|linebreaks }}
      <p align="rigght"> Published at:{{pub}}</p>
      {{ value|linebreaks }}

	{% endfor %}
	</div>

</body>
</html>
